<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ncu.newmedia.backschool.dao.ApplyDao">

    <resultMap id="applyMap" type="Apply">
        <id property="id" column="apply_id" />
        <result property="createTime" column="create_time" />
        <result property="status" column="apply_status" />
        <result property="origin" column="origin" />
        <result property="highSchool" column="high_school" />
        <result property="description" column="description" />
        <result property="student" column="student_id" />
        <result property="activity" column="activity_id" />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="apply.id">
        insert into apply values (#{apply.id},#{apply.createTime},
                                  #{apply.status},#{apply.origin},
                                  #{apply.highSchool},#{apply.description},
                                  #{apply.student},#{apply.activity})
    </insert>

    <select id="listAll" resultMap="applyMap">
        select * from apply;
    </select>

    <select id="getAppliesByColumn" resultMap="applyMap">
        select * from apply where ${column} = #{value}
    </select>

    <update id="changeApplyStatus">
        update apply set apply_status = #{status} where apply_id = #{applyId}
    </update>

    <delete id="delete">
        delete from apply where apply_id = #{applyId}
    </delete>
</mapper>