<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ncu.newmedia.backschool.dao.FeedBackDao">
    <resultMap id="feedbackMap" type="Feedback">
        <id property="id" column="feedback_id" />
        <result property="apply" column="apply_id" />
        <result property="level" column="level" typeHandler="cn.ncu.newmedia.backschool.typeHandler.EnumTypeHandler"/>
        <result property="filePath" column="feedback_file_path" />
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="feedback.id">
        insert into feedback values (#{feedback.id},#{feedback.apply},
                                     #{feedback.level.code},#{feedback.filePath});
    </insert>

    <update id="update">
        update feedback set apply_id = #{apply}, feedback_file_path = #{filePath},
                            level = #{level.code} where feedback_id = #{id}
    </update>

    <select id="getFeedbackByColumn" resultMap="feedbackMap">
        select * from feedback where ${column} = #{value}
    </select>

    <delete id="delete">
        delete from feedback where feedback_id = #{feedbackId}
    </delete>

    <delete id="deleteByApplyId">
        delete from feedback where apply_id = #{applyId}
    </delete>

    <select id="getFeedbackById" resultMap="feedbackMap">
        select * from feedback where feedback_id = #{feedbackId}
    </select>
</mapper>