<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ncu.newmedia.backschool.dao.StudentDao">
    <insert id="insertStudent" useGeneratedKeys="true" keyProperty="student.id">
        insert into student values (#{student.id},#{student.name},#{student.gender},
                                   #{student.studentCard},#{student.college},#{student.classname},
                                   #{student.idCard},#{student.qq},#{student.bankCard},
                                   #{student.phone},#{student.email},#{student.origin},
                                   #{student.highSchool},#{student.verified},#{student.user})
    </insert>

    <update id="updateStudent">
        update student set name = #{student.name},gender = #{student.gender},
                                 studend_card = #{student.studentCard},college = #{student.college},
                                 class = #{student.classname},idCard = #{student.idCard},qq = #{student.qq},
                                 bank_card = #{student.bankCard},phone = #{student.phone},
                                 email = #{student.email},origin = #{student.origin},
                                 verified = #{student.verified} where student_id = #{student.id};
    </update>

    <select id="idCardHashMatch" resultType="int">
        select count(*) from studentbase where name = #{name} and idCard = #{idCard};
    </select>

</mapper>